html,
body {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #e6ca78;
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds.png');
  height: 100vh;
  padding: 50px;
}
