.login {
  width: 50%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15vh;
}

.modal {
  position: fixed !important;
  background-color: white;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
