body {
	font-family: "Press Start 2P", cursive;
}

div.combat-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: white;
}

.party1-sprite-box {
	display: flex;
	justify-content: flex-start;
}

.party1-sprite {
	height: 20rem;
	margin-left: 10rem;
}

.mid-center {
	color: white;
}

.party2-sprite-box {
	display: flex;
	justify-content: flex-end;
}

.party2-sprite {
	height: 20rem;
	margin-right: 10rem;
}

.combat-mid,
.combat-bottom {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.hp-bar {
	width: 60%;
}

.flipped-hp {
	transform: scaleX(-1);
}

.moves-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 0.25fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.bottom-center {
	display: grid;
}

.attack-btn {
	color: #eb393c;
}

.spells-btn {
	color: #228ed6;
}

.item-btn {
	color: #4aa52e;
}

.evade-btn {
	color: #e59400;
}

.party-name {
	font-size: 1.5em;
}

.party-name-turn {
	animation: blink 1s infinite;
	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
}

.party-info-box {
	display: flex;
	flex-direction: column;
}

.party1-info {
	justify-content: flex-start;
	align-items: flex-start;
}

.party2-info {
	justify-content: flex-start;
	align-items: flex-end;
}

.hp-text {
	font-size: 1.25em;
}

.dialog-btn {
	font-size: 0.7rem;
	width: 8rem;
}

.flex-dialog-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-grow: 0;
	padding: 0.25em;
}
